@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }
}

:root {
   --matcha: #9bcd6c;
   --matchaLight: #b4dc87;
}

*
{
   font-family: Pixelify Sans;
}

input[type=text] {
   color: white;
   background-color: #33230b;
   border-color: #96794d;
   height: 2em;
   width: 12em;
   border-radius: 5px;
   border-style: solid;
}

input:focus 
{
   outline: none;
   border-color: #bf9960;

}

.warning 
{
   display: none;
   color: rgb(218, 0, 0);
}

button {
   background-color: var(--matcha);
   border: none;
   border-radius: 1em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   padding-left: 1em;
   padding-right: 1em;
   box-shadow: #609827 0px 0.25em;
   transition: 0.1s;
   text-align: center;
   margin-left: 0.25rem;

}

button:hover {
   background-color: var(--matchaLight);
} 

button:active {
   background-color: #99bb73;
   transform: translateY(0.25em);
   box-shadow: none;
}

#classSelection
{
   display: none;
}

#weaponSelection
{
   display: none;
}